# Flask
FLASK_SECRET_KEY=replace_with_a_new_random_secret

# Spotify
CLIENT_ID=your_spotify_client_id
CLIENT_SECRET=your_spotify_client_secret

# YouTube / Google OAuth
YT_SECRET_FILE=secrets/yt_client_secret.json
FLASK_SECRET_KEY=replace_with_a_new_random_secret
