<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransferMusic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/logo.png') }}">
</head>
<body>
    <div class="content">
        <h1>Welcome to TransferMusic</h1>
        <p>Choose a provider to transfer your playlist:</p>
        <div class="button-group">
            <a href="/login"><button>Spotify</button></a>
            <a href="/yt_login"><button>YouTube</button></a>
        </div>
    </div>
    <footer>© 2025 TransferMusic | <a href="/privacy_policy">Privacy Policy</a> | <a href="/terms_of_service">Terms of Service</a></footer>
</body>
</html>